
.carousel-item{
    height: 300px;
    /* background-size: cover; */
    overflow: hidden;
    width: 100%;
    /* margin-top: 10px; */
}
.carousel-item .slide{
    width: 100vw;
}

@media screen and (max-width:500px){
    .carousel-item{
        height: 200px;
    }
}