.main{
    width: 100%;
   height: 80px;
    background-color:bisque;
    display: flex;
    flex-direction: column;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: aliceblue;
    height: 50%;
    padding: 10px;
}
.logo{
    cursor: pointer;
}

span{
    color: rgb(140, 77, 212)
}
.bottom{
    background-color: aqua;
    height: 50%;
}


button{
    width:5vw;
    border-radius: 5px;
    border: none;
    border: 1px solid black;
    cursor: pointer;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    height: 40px;
    background-color: beige;
}
li{
    list-style: none;
    padding: 8px;
    cursor: pointer;
    transition: all ease 0.5s;
}
li:hover{
    background-color: rgb(0, 255, 128);
}
@media screen and (max-width:500px) {
    .top{
        flex-direction: column;
        height: auto;
        background-color: rgb(171, 209, 241);
        
    }
    input{
        width: 60vw;
        background-color: aliceblue;
    }
    
    button{
        width:12vw
    }
    .searchbar{
        margin-top: 10px;
    }
    .cart{
        margin-top: 10px;
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 20px;
    }
    ul{
        gap: 20px;
        background-color: beige;
        font-size: 2.4vw;
    }
}