.checkmain {
    height: 100vh;
    display: flex;
    margin-top: 28px;
    background-color: rgb(0, 255, 200);
}

.checkleft {
    height: 100vh;
    width: 100%;
    /* background-color: antiquewhite; */
    /* background-color: rgb(59, 59, 59); */
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid white;
}

.checkright {
    height: 100vh;
    width: 100%;
    
    /* background-color: rgb(59, 59, 59); */
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.form {
    height: 400px;
    width: 400px;
    background-color: rgba(0, 255, 200, 0.342, 0.5);
    margin-bottom: 50px;
    border-radius: 10px;
    /* border: 1px black solid; */
}

.form input {
    width: 350px;
    margin: 10px 20px;
}

.caratItem {
    width: 500px;
    height: 400px;
    /* background-color: bisque; */
    background-color: rgba(0, 255, 200, 0.342, 0.5);
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    margin-top: 30px;
    overflow-y: scroll;
    border-radius: 20px;
    scroll-behavior: smooth;
    
    
    
    
}

.Iatem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    background-color: aliceblue;
    padding: 10px 10px;
    width: 400px;
    margin-left: 20px;
    border-radius: 10px;

}
.cartTitle{
    padding-left: 2%;
}

@media  screen and (max-width:500px)
{
   .checkmain{
    flex-direction: column;
   } 
   .caratItem {
    width: 455px;
    height: 400px;
    }
    .cartTitle{
        width: 138px;
    }
    .Cart{
        padding-left: 35px;
    }
    .form{
        
        margin-top: 50px
        
        
    }
}