.checkmain {
    /* height: 100vh; */
    display: flex;
    margin-top: 28px;
    /* background-color: rgb(255, 255, 255); */
    /* background-color: #fcdede; */
    
}

.checkleft {
    height: 100vh;
    width: 100%;
    /* background-color: antiquewhite; */
    /* background-color: rgb(59, 59, 59); */
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgba(0, 0, 0, 0.13);
    flex-direction: column;
}
.checklast {
    height: 100vh;
    width: 100%;
    /* gap: 30px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgba(0, 0, 0, 0.14);
}

.checkright {
    height: 100vh;
    width: 100%;  
    display: flex;
    flex-direction: column; 
    justify-content: center;
   
}
.bk{
    height: 300px;
    /* background-color: antiquewhite; */
    /* background-color: white; */
    padding: 20px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    /* border: solid 0.1px  black; */
    border-radius: 5px;
  
}

.bk::-webkit-scrollbar{
    display: none;
}
.headerr{
    padding-top: 20px;
    text-align: center;
  
    font-size: 30px;
}

.form {
    height: 400px;
    width: 400px;
    background-color: rgba(0, 255, 200, 0.342, 0.5);
    margin-bottom: 50px;
    border-radius: 10px;
    margin: 0 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.form input {
    width: 350px;
    margin: 10px 20px;
}

.caratItem {
    width: 500px;
    height: 490px;  
    /* background-color: aqua; */
    /* margin-bottom: 40px; */
    /* margin-top: 10px; */
    overflow-y: scroll;
    border-radius: 20px;
    scroll-behavior: smooth;
  
 
}

.Iatem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    /* background-color: aliceblue; */
    padding: 10px 10px;
    width: 450px;
    margin-left: 25px;
    border-radius: 10px;
    
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}
.caratItem::-webkit-scrollbar{
    display: none;
}
.cartTitle{
    padding-left: 2%;
}
.r{
   border-bottom: 1px solid rgb(121, 121, 121);
   padding-top: 10px;
}
.acc{
    width: 380px; 
    height: 130px;
    background-color: rgba(255, 255, 255, 0);
    /* margin-left: 70px; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 4px;
    text-align: center;
    font-size: 12px;
   
    
}
.a{
    /* background-color: rgb(226, 240, 253); */
    height: 100px;
    width: 90px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}



@media  screen and (max-width:500px)
{
   .checkmain{
    flex-direction: column;
    
 
   
   } 
   .checkright{
    margin-top: 10px;
    border-left: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    
   
   }
   .checklast{
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
   
   
   }
  
   .caratItem {
    width: 455px;
    height: 400px;
    }
    .cartTitle{
        width: 138px;
    }
    .Cart{
        padding-left: 35px;
    }
    .form{
        
        margin-top: 50px
        
        
    }
}