.Item{
    display: flex;
    align-items: center;
    gap: 50px;
    
    border-bottom: 1px solid black;
    padding: 30px;
    
}

.Carimg{
    width: 200px;
    
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.cartMain{
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
}
.cartTitle{
    width: 400px;
    
}
.total{
    width: auto;
    height:6vh;
   
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 70px;
    font-size: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
    /* background-color: bisque; */
}
.wrappp
{
    display: flex;
    gap: 90px;
}
.Cart{
    display: flex;
    align-items: center;
    text-align: center;
    
}

.empty{
    text-align: center;
    font-size: 3vw;
    /* background-color: bisque; */
}
.imggg{
   
    width: auto;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buy{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    /* background-color: brown; */
    margin-bottom: 30px;
}
.buy button{
    height: 40px;
    width: 130px;
    background-color: #fcdede;
    border: none;
    font-size: 20px;
}

.buy button:hover{
    background-color:#f8bbbb ;
}


@media screen and (max-width:500px){
    .total{
        width: 100%;
    }
    .wrap{
        flex-direction: column;
        gap: 50px;
    }
    .Cart{
        
        padding-left: 60px;
        font-size: 20px;
    }
    .cartTitle{
        width: 90px;
        font-size: 16px;
        
    }
    .Carimg{
        width: 100px;}
    
}
    


